* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
    display: flex;
    font-family: Arial;
}

nav {
  transition: .3s;
  width: 5.5%;
  /* width: 4%; */
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #285862;
  border-right: 2px solid #336c77;
  overflow: hidden;
}
nav:hover {
  width: 22%;

}
.btn-expandir {
    width: 100%;
    height: 10%;
    padding: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.btn-expandir i {
  width: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.btn-expandir span {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 10px;
  color: white;
  margin-left: 30px;
}
ul {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  list-style-type: none;
}
ul li.item-menu:hover {
  background-color: rgb(65, 116, 128);
}
ul li.item-menu {
  margin-top: 30px;
  transition: 0.3s;
}
ul li.item-menu a {
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 20px;
  line-height: 40px;
}
ul li.item-menu a .txt-link {
  margin-left: 30px;
}
ul li.item-menu a .icon > i {
  font-size: 25px;
} 

header {
    height: 100px;
    width: 100%;
    background-color: #285862;
}
.dadosUser .logout{
  width: 170px;
  margin: 0 30px;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    /* width: 30%; */
    border-radius: 8px;
    background-color: #173B42;
    color: white;
    cursor: pointer;
    /* height: 30px; */
    /* transition: 0.2s; */
}
.dadosUser .logout a{
  text-decoration: none;
  color: white;
}

.dadosUser {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  margin-right: 10px;
  text-transform: uppercase;
}
.dadosUser div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #9dc2b7;
}
.dadosUser img {
  width: 30px;
}
.dadosUser span {
  color: white;
  font-weight: 600;
  margin-right: 10px;
}

main {
    width: 100%;
    height: 89vh;
    background-color: #336c77;
}
